$col1: #6fffcd;
$col2: #24292f;
$col3: #ffffff;
$col4: #707070;
$col5: #00ffe2;

$padding-big: 3rem;
$padding-small: 1.5rem;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");
$inter: "Inter", sans-serif;
