@import "./variables";

html {
  font-family: $inter;
  color: $col2;
  text-wrap: balance;
  background-color: $col5;
}

@mixin all-headings {
  @for $index from 1 through 6 {
    h#{$index} {
      @content;
    }
  }
}

@include all-headings {
  line-height: 1.6;
  font-weight: 600;
}

h {
  &1 {
    font-size: 2.125rem;
  }
  &2 {
    font-size: 1.875rem;
  }
  &3 {
    font-size: 1.5rem;
  }
  &4 {
    font-size: 1.25rem;
  }
  &5 {
    font-size: 1.125rem;
  }
  &6 {
    font-size: 1rem;
  }
}

.btn {
  border-radius: 100rem;
}
