@import "./variables";

.more {
  background-color: $col1;
  padding: $padding-big;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// .project-description {
//   width: 100%;
//   max-width: 50dvw;
// }

.btn-github {
  background-color: $col3;
  padding: 0.5rem 0.8rem 0.5rem 0.5rem;
  margin-top: 1.5rem;
}

.repo-hyperlink {
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.repo-hyperlink > span {
  text-decoration: underline;
}

.repo-hyperlink > i {
  font-size: 1.5em;
}
